# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Clock/main
*.iml
ch3/__pycache__/sketch.cpython-34.pyc
UMCrawler/.idea/workspace.xml
UMCrawler/.idea/modules.xml
NumpySandbox/.idea/misc.xml
Clock/.idea/workspace.xml
NumpySandbox/.idea/modules.xml
UMCrawler/.idea/misc.xml
NumpySandbox/.idea/workspace.xml
Clock/.idea/modules.xml
*.iml
ODE/results.txt
ODE/.idea/workspace.xml
ODE/.idea/workspace.xml
