Flask==0.10.1
Flask-Dance==0.10.1
Flask-Login==0.3.1
Flask-SQLAlchemy==2.0
itsdangerous==0.24
Jinja2==2.7.3
lazy==1.2
MarkupSafe==0.23
oauthlib==2.0.1
rauth==0.7.0
requests==2.4.3
requests-oauthlib==0.7.0
six==1.10.0
SQLAlchemy==0.9.8
URLObject==2.4.2
Werkzeug==0.9.6
